dynamic-custom-checkbox{
  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .labelTxt{
      margin-left: 5px;
      vertical-align: middle;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    .checkmark {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border: 1px solid #fff;
      margin: auto;
      strong {
        position: absolute;
        display: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .checkmark.circle{
      border-radius: 50%;
    }
  }

  .container.small{
    padding-left: 25px;
    .checkmark{
      width: 20px;
      height: 20px;
      strong{
        width: 4px;
        height: 7px;
        margin-top: 4px;
        border-width: 0 2px 2px 0;
      }
    }
  }
  .container.medium{
    padding-left: 30px;
    .checkmark{
      width: 25px;
      height: 25px;
      strong{
        width: 4px;
        height: 10px;
        margin-top: 4px;
        border-width: 0 2.5px 2.5px 0;
      }
    }
  }
  .container.large{
    padding-left: 35px;
    .checkmark{
      width: 30px;
      height: 30px;
      strong{
        width: 6px;
        height: 12px;
        margin-top: 5px;
      }
    }
  }
  .container.Xlarge{
    padding-left: 40px;
    .checkmark{
      width: 35px;
      height: 35px;
      strong{
        width: 6px;
        height: 12px;
        margin-top: 8px;
      }
    }
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark strong {
    display: block;
  }

  .container.disableCheckbox{
    opacity: 0.4;
    cursor: default;
  }
}