<label
class="container"
[ngClass]="{'small': customSize == 'small', 'medium': customSize == 'medium', 'large': customSize == 'large','Xlarge': customSize == 'Xlarge','disableCheckbox': checkboxDisabled == true}">
  <strong class="labelTxt">{{populateLabel(labelContent)}}</strong>
  <input type="checkbox" [(ngModel)]="checked" (change)="change()" [disabled]="checkboxDisabled">
  <span
  class="checkmark"
  [ngStyle]="{'background-color': customBgColor,'border-color': customBorderColor }"
  [class.circle]="boxType == 'circle'">
    <strong
    [ngStyle]="{'border-color': customArrowColor }">
    </strong>
  </span>
</label>
<!-- <ng-content></ng-content> -->